.inst {
    padding: 50px 200px;
    margin-bottom: 30px;
}

.main_img {
    float: left;
    margin-right: 100px;
    width: 400px;
}

.secondary_img {
    width: 100px;
}

.inst h2, .inst p {
    font-size: 16px;
    font-weight: 600;
}

.inst h2 {
    margin: auto 500px;
    color: #020202;
    font-size: 17px;
    font-weight: 300;
    width: 55%;
    background-color: #fff688;
    padding: 5px 20px;
    border-radius: 0.4em;
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.08),
    0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.inst h3 {
    margin: 60px;
    color: #010101;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    width: 50%;
    background-color: #9effc1;
    border-left: 5px solid #011b32;
    overflow: hidden;
    padding: 8px 5px;
    border-radius: 0.4em;
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.08),
    0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.inst p {
    width: 50%;
    font-weight: 400;
    background-color: #bddafe;
    border-left: 5px solid #011b32;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 8px 5px;
    border-radius: 0.4em;
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.08),
    0 16px 10px -8px rgba(0, 0, 0, 0.6);
}

.blockWbg {
    background-position: center;
    display: list-item;
}

.b2 {
    width: 50px;
}

.inst a{
    color: #001324;
    text-decoration: underline;
    font-weight: 600;
    font-size: 20px;
}

.inst a:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
}

.inst a:active {
    background: #287db5;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
    border-color: #000;
    border-color: rgba(0, 0, 0, 0.9);
}