.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    background: #252F48;
}

.table_dark th {
    color: #EDB749;
    border-bottom: 1px solid #37B5A5;
    padding: 5px 10px;
}

.table_dark td {
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right: 1px solid #37B5A5;
    padding: 5px 5px;
}

.table_dark tr:last-child td {
    border-bottom: none;
}

.table_dark td:last-child {
    border-right: none;
}

.table_dark tr:hover td {
    text-decoration: underline;
}

.h3 {
    margin-top: 15px;
    color: #0a3b67;
    font-weight: 300;
    font-size: 26px;
}

.info-message h3 {
    background-color: #c9f6c3;
    width: fit-content;
    border-radius: 5px;
    margin-top: 15px;
    margin: 15px;
    color: #000000;
    font-weight: 300;
    font-size: 22px;
}

.bot5 {
    width: 100px;
    margin: 20px auto;
    padding: 3px 10px;
    font-family: inherit;
    font-size: 16px;
    color: #edaa48;
    border: 1px solid;
    border-color: #202020 #252f48 #252f48;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #efefef, #777);
    background-image: -o-linear-gradient(top, #efefef, #777);
    background-image: linear-gradient(to bottom, #252f48, #252f48);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.bot5:hover {
    background-color: #aaaaaa;
    background-image: -webkit-linear-gradient(top, #ccc, #555);
    background-image: -moz-linear-gradient(top, #ccc, #555);
    background-image: -o-linear-gradient(top, #ccc, #555);
    background-image: linear-gradient(to bottom, #ccc, #555);
}

.bot5:active, .bot5.active {
    background-color: #b42f32;
    border-color: #1c1c1c #202020 #222;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}

.table_dark a {
    color: #000000;
    border-radius: 3px;
    background-color: #baf8c2;
    padding: 0px 4px;
}